* {
  margin: 0;
  font-family: var(--inter);
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

h1 > span {
  background: linear-gradient(120deg, #ff00ff, orangered, red);
  background-clip: text;
  color: transparent;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  height: 100vh;
}

header {
  position: fixed;
  background-color: #10100f;
  top: 20;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #9494942f;
  position: relative;
}

.menuResponsive {
  position: absolute;
  background-color: rgba(26, 26, 26, 0.712);
  width: 100%;
  top: 70;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
  border-radius: 10px;
}

.menuResponsive > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.menuResponsive > div > a {
  text-decoration: none;
  color: #c1c1c1;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: #c1c1c1;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.responsive {
  display: none;
}

@media screen and (width < 768px) {
  .responsive {
    display: block;
  }

  .icons {
    display: none;
  }

  nav {
    display: none;
  }
}
/* link */
.bar {
  border: solid 2px #141414;
  padding: 7px;
  border-radius: 4rem;
  display: flex;
  gap: 8px;
}
.bar a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  padding: 2px;
}
.bar a:hover {
  background-color: orange;
  border-radius: 4rem;
}
.github {
  display: flex;
  gap: 10px;
}
.github button {
  background: orange;
  border: orange;
  padding: 10px;
  border-radius: 0.4rem;
}
